*{
    padding: 0px;
    margin: 0px;
}
nav{
    background-color: sandybrown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
li{
    list-style: none;
    float: left;
}
li a{
    text-decoration: none;
    padding: 10px 30px;
}
li a:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
}